$primary:#392d47;
$secondary:#4687f6;
$black:repeating-linear-gradient(135deg, hsl(81,0%,18%) 0px,hsl(81,0%,18%) 12px,transparent 13px),repeating-linear-gradient(217deg, hsl(81,0%,18%) 0px,hsl(81,0%,18%) 12px,transparent 13px),linear-gradient(90deg, hsla(205,0%,61%,1),hsla(190,0%,61%,1));
