@import 'variables';
@import 'functions';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// registration, signin

#registerBody{
    background: linear-gradient(to right, $primary,$secondary);
    height: 100vh;
    @include displayFlex();

    #register{
        background: $black;
    }
    .form-outline .form-control {
        min-height: auto;
        padding-top: 0.32rem;
        padding-bottom: 0.32rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border: 0;
        background: rgba(0, 0, 0, 0);
        transition: all .2s linear;
    }
    .card {
        background: $black;
    }
    .form-outline {
        position: relative;
        width: 100%;
    }
    .form-outline .form-control~.form-label {
        position: absolute;
        top: 0;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        left: 0.75rem;
        padding-top: 0.37rem;
        pointer-events: none;
        transform-origin: 0 0;
        transition: all .2s ease-out;
        color: #fbfbfb;
        margin-bottom: 0;
    }
    .form-outline .form-control.form-control-lg~.form-label {
        padding-top: 0.7rem;
    }
    .form-outline .form-control.form-control-lg {
        font-size: 1rem;
        line-height: 2.15;
    }
    .form-control {
        min-height: auto;
        padding: 4.5px 12px 3.68px 12px;
        transition: all .1s linear;
        box-shadow: none;
    }
    .form-control:focus {
        box-shadow: none;
        transition: all .1s linear;
        border-color: #3b71ca;
        box-shadow: inset 0px 0px 0px 1px #3b71ca;
    }
    .form-control:focus {
        color: var(--mdb-surface-color);
        background-color: var(--mdb-body-bg);
        border-color: #3b71ca;
        outline: 0;
        box-shadow: var(--mdb-box-shadow-inset), 0 0 0 0.25rem rgba(59, 113, 202, .25);
    }
    .form-outline .form-control:focus {
        box-shadow: none !important;
    }
    INPUT:not(:-webkit-autofill), SELECT:not(:-webkit-autofill), TEXTAREA:not(:-webkit-autofill) {
        animation-name: onautofillcancel;
    }
    .form-outline input:focus-within ~ .form-label
     {
        top: -20px;
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
    }
    .form-outline .form-control .form-control-lg:focus~.form-label {
        transform: translateY(-1.25rem) translateY(0.1rem) scale(0.8);
    }
}
#messageError {
    color: red;
}

.registration {
    height: inherit !important;
    padding: 100px 0;
}

#messageError {
    color: red;
}
.head{
    color: #e3642a;
}
// index

nav {
    background: linear-gradient(to right, $primary,$secondary);

    .nav-link {
        color: #fff !important;
    }
    .active {
        color: #332d2d !important;
    }
}

.navbar-nav{
    gap: 11px;
}

.nav-link {
    font-size: 19px;
    font-weight: bold;
    font-family: "Madimi One", sans-serif;
} 

#orders {
    background: linear-gradient(to right, $primary,$secondary)
}

.center-block {
    @include displayFlex();
}
.thumbnail.box {
    width: auto;
    max-width: 500px;
    margin: 30px;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    background: $black; 
    border-radius: 8px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.idOrder {
    font-size: 30px;
    color: #e3642a;
    font-weight: bold;
    text-align: center;
    font-family: "Madimi One", sans-serif;
}
.price {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    text-align: center;
}
.thumbnail.col-md-12.box .price {
    font-size: 18px;
    margin-top: 20px; 
    font-weight: bold;
}
.thumbnail.col-md-12.box hr {
    border-top: 4px solid #e3642a;;
    margin: 10px 0; 
}
.total-price {
    font-size: 25px;
    color: #009e3e;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Madimi One", sans-serif;
}

// products 

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: $primary;
    padding: 0 5px;
    border-radius: 30%;
    color: #ffffff;
}
.products {
    padding: 4rem 0;
}
.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    font-family: "Madimi One", sans-serif;
    color: #e3642a;
}
.products-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}
.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  
  .product-img {
    display: block;
    width: 100%;
    height: 274.5px;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    color: #ffffff;
  }
  
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: #009e3e;
    text-align: center;
  
  }
  
  /* --------------- Cart ---------------- */
  
  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  
  .showCart {
    transform: translateX(0);
  }
  
  .transparentBcg {
    visibility: visible;
  }
  
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  
  /*---------- Cart Item -------------------- */
  
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  
  .cart-item>img {
    width: 200px;
    height: 100px;
  }

  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  
  .item-amount {
    text-align: center;
  }
  
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }
  
  /*---------- End of Cart Item -------------------- */
  
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  .body {
    background: linear-gradient(to right, $primary,$secondary);
  }